<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>CRUD App</title>
</head>
<body>
List of all users
<div th:if="${users.isEmpty()}">
    <h1>Table is empty!</h1>
</div>
<div th:if="${not users.isEmpty()}">
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Surname</th>
            <th>Name</th>
            <th>Age</th>
            <th>Email</th>
            <th>Role</th>
            <th>Action</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.getId()}">id</td>
            <td th:utext="${user.getSurname()}">surname</td>
            <td th:utext="${user.getName()}">name</td>
            <td th:utext="${user.getAge()}">id</td>
            <td th:utext="${user.getEmail()}">surname</td>
            <td th:utext="${user.getRole()}">name</td>
            <td>
                <form th:method="PATCH" th:action="@{/edit(id=${user.getId()})}">
                    <input type="submit" value="Edit"/>
                </form>
                <form th:method="DELETE" th:action="@{/delete(id=${user.getId()})}">
                    <input type="submit" value="Delete"/>
                </form>
            </td>
        </tr>
    </table>
</div>
<form th:method="POST" th:action="@{/add}">
    <input type="submit" value="Add"/>
</form>
<form th:method="DELETE" th:action="@{/clear}">
    <input type="submit" value="Clear Table"/>
</form>
</body>
</html>